body {
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  body, .card {
    background-color: #111 !important;
    color: #eee;
  }
  .bg-light, .card {
    background-color: #333 !important;
  }
  .bg-white {
    background-color: #000 !important;
  }
  .bg-black {
    background-color: #eee !important;
  }
  .btn-primary {
    color: #100101 !important;
  }
  a {
    color: #abcff6 !important;
  }
}

#current-geo-loc {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card {
  margin-top: 1rem;
  margin-right: 1rem;
}

.en, .de, .it {
  display: none;
}

.en:lang(en), .de:lang(de), .it:lang(it) {
  display: block;
}

#status-alert {
  display: none;
  margin: 20px;
}

.logo-helloworld {
  width: 70%;
  margin: 26px;
  padding-left: 16%;
}

@media (min-width: 768px) {
  .logo-helloworld {
    width: 30%;
    max-width: 100%;
    margin: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 992px) {
  .logo-helloworld {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .logo-helloworld {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .logo-helloworld {
    width: 20%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .logo-helloworld {
    width: 20%;
    max-width: 100%;
  }
}

.footer-icons {
  text-align: center;
  padding-bottom: 0rem !important;
  padding-top: 3rem !important;
}

.btn-primary {
  color: #060606 !important;
}

a {
  color: #0152a9 !important;
}