body {
  font-family: sans-serif;
}

#current-geo-loc {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card {
  margin-top: 1rem;
  margin-right: 1rem;
}

.en, .de, .it {
  display: none;
}

.en:lang(en), .de:lang(de), .it:lang(it) {
  display: block;
}